.contact{
    background:rgba(0, 0, 0, 0.9) url(Images/sale.jpg);
    background-position: center;
    height: 80vh;
    background-size: cover;
    
}
.pin{
    display: flex;
    float: left;

}
.conc{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content:space-between;
}
.homes{
    margin-right: 400px;

}
.posing{
    display: flex;
    margin-right: 20px;
}
ul li{
    float: left;
    list-style-type: none;
    
}
ul li a{
    padding: 30px;
    margin-top: 2px ;
    display: inline;
    justify-content: center;
}
.keys{
    text-align: center;
    padding: 230px;
    justify-content: center; 
    
}
button{
    padding: 5px;
    border-radius: 10px;
    background-color: red;
}
.with-us{
    text-align: center;
}
.middle{
    display: flex;
    flex-direction: row;
    justify-content:  center;
}
.middle1{
    justify-content: center;
    padding: 20px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 30px;
    align-items: center;
    text-align: center;
    background-color: red;
    
}
.middle2{
    justify-content: center;
    padding: 20px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 30px;
    align-items: center;
    text-align: center;
    
}
.middle3{
    justify-content: center;
    padding: 20px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 30px;
    align-items: center;
    text-align: center;
    background-color: red;
}
.faqs{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
h5{
    color: orangered;
}

.calls{
    display: flex;
    justify-content: space-around;
    background-color: red;
    padding: 10px;
}

.call1a{
    display: flex;
}
.downtown{
    background-color: black;
    color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.img{
    display: flex;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content:center;
    
}
.offers{
    display: grid;
    text-align: justify;
}