@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Barlow', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    padding-top: 2em;
}

.header-section{
padding-left: 2em;
}


a {
    text-decoration: none ;
    color: white;
}

li {
    display: inline-block;
    padding: 0 1em; 
   
}


.img-1{
    background: rgba(0, 0, 0, 0.6)  url("Images/car.jpeg") no-repeat center center ; 
    background-size: cover;
    color: white;
    background-blend-mode: darken;
    margin-bottom: -3em;
  
}


h1{
    font-size: 4em;
}


.extra-mile{
    margin-top: 10em;
    padding-left: 3em; 
}

.description{
    padding-top: 1.5em;
    padding-bottom: 15em;
    word-spacing: 0.5em;
}

.services-box{
    background: orangered;
    display: flex;
    justify-content: space-around;
    margin-left: 3em;
    margin-right: 3em;
    padding: 8em;
    
    
}



.small-car, .key{
    font-size: 2em;
    margin-left: 3em;
}

.spanner{
    font-size: 2em;
    margin-left: 1em;
}

.third-container{
    display: flex;
    justify-content: space-around;
    margin-top: -3em;
}


.jeep{
padding-bottom: -3em;
}


.about-box{
    padding-top: 15em;
}

.about{
    margin-bottom: 1em;
    color: orangered;
}

.learn{
    background: orangered;
    padding: 0.8em;
    border: none;
    border-radius: 0.5em;
    margin-top: 1em;
   font-size: 1em;
}

