@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Barlow', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding-top: 2em;
}

.header-section {
    padding-left: 2em;
}


a {
    text-decoration: none;
    color: white;
}

li {
    display: inline-block;
    padding: 0 1em;
    font-size: 1.3em;
}


.img-1 {
    background: rgba(0, 0, 0, 0.6) url("Images/car.jpeg") no-repeat center center;
    background-size: cover;
    color: white;
    background-blend-mode: darken;
    margin-bottom: -3em;
    height: 100vh;
}


h1 {
    margin-top: 2.5em;
    font-size: 7em;
}


.extra-mile {
    margin-top: 10em;
    padding-left: 3em;
}

.description {
    padding-top: 2em;
    padding-bottom: 15em;
    word-spacing: 0.5em;
    font-size: 1.7em;
    margin-top: -2em;
}

.services-box {
    background: orangered;
    display: flex;
    justify-content: space-around;
    margin-left: 13em;
    margin-right: 13em;
    padding: 8em;
    padding-bottom: 5em;
    font-size: 1.23em;
    margin-top: -6em;
}



.small-car,
.key {
    font-size: 2em;
    margin-left: 1.5em;
}

.spanner {
    font-size: 2em;
    margin-left: 0.8em;
}

.third-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1em;
    margin-left: 8em;
}

.jeep{
    width: 100%;
    margin-left: 0em;
}


.about-box {
    padding-top: 6em;
    margin-right: 12em;
    font-size: 1.4em;
    display: grid;
}

.about {
    margin-bottom: 1em;
    color: orangered;
}

.learn {
    background: orangered;
    padding: 1.5em;
    cursor: pointer;
    padding-right: em;
    padding-left: em;
    padding-bottom: em;
    border: none;
    border-radius: 1.2em;
    font-size: 0.7em;
}

.brand {
    text-align: center;
    margin-top: 5em;
    margin-bottom: 3em;
    font-size: 1.3em;
}

.unsure {
    margin-top: 1.5em;
    word-spacing: 0.2em;
    font-size: 1.3em;
}


.car-container {
    display: flex;
    margin: 2em;
    margin-left: 20em;
}

.img-2,
.img-3,
.img-4{
    margin-right: 8em;
}




.service {
    margin-top: 3em;
    margin-right: 4em;
    font-size: 1.5em;
    color: papayawhip;
}


.arrow-forward{
    margin-left:5em ;
    margin-bottom: 5rem;
    margin-top: -1em;
}

.contact-container {
    display: flex;
    justify-content: space-evenly;
    background: orangered;
    color: white;
    padding: 3em;
    font-size: 1.3em;
    
}


.hr {
    font-size: 2em;
    font-weight: lighter;
    margin-right: 5em;
}

.last-box {
    display: flex;
    justify-content: space-around;
    background: black;
    color: white;
    margin-top: 3em;
    padding-top: 2em;
    padding-bottom: 3em;
}

.text {
    margin-top: 1em;
    font-size: 1.2em;
}

.media-icons {
    margin-top: 2em;
    font-size: 2em;
}

footer {
    text-align: center;
    padding: 2.2em;
}

.hr2{
    width:5%;
    text-align:left;
    margin-left:auto;
    margin-right:auto;
    height: 0.3em;
    background-color: orangered;
    border: none;
}

.hr3{
    margin-right: 39.2em;
    margin-left: 1.3em;
    height: 0.3em;
    border: none;
    background-color: orangered;
}

.aim{
    margin-left: 4em;
}

.best{
    margin-right: 4em;
}