*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header{
    width: 100%;
}
.nav #h1nav{
    position: relative;
    top: 10px;
    left: 50px;

}
#navdiv ul{
    position: relative;
    color: white;
    left: 50px;
    top: 67px;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-weight: 500;
    font-size: 20px;
    width: 75%;
    float: right;
}
.nav{
    height: 603px;
    width: 1024px;
    width: 100%;
    background-color: #FF5700;
}
#navvideo{
    position: relative;
    top: 199;
    left: 38px;
}