*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body{
    margin-top: 300px;
}
.hr-1{
    border: none;
    width: 5%;
    margin-left: auto;
    margin-right: auto;
    height: 0.3em;
    background-color: orangered;
    margin-top: -1.23em;
}
body{
    font-family: 'Barlow', sans-serif;   
}

.lois{
    color:white;
    text-align: center;
    padding-top: 27em;
}header {
    display: flex;
    justify-content: space-between;

}
a {
    text-decoration: none;
    color: white;
}
li {
    display: inline-block;
    padding: 1em;
    font-size: 1.3em;
}
.jip{
    color: white;
    padding-left: 2em;
    padding-top: 2em;
}
.bus{
    font-size: 5em;
    margin-bottom: 0.2em;
}
.bus2{
    font-size: 1.5em;
}
.do{
  padding: 1em;
  font-size: 1em;
  display: flex;  
  justify-content: space-between;
  margin-right: 8em;
}
.pic1{
    background-image: url("Images/drive.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    height: 100vh;

}


.cars1{
    display: flex;
}
.cars2{
    display: flex;
}
.cars3{
    display: flex;
}
.cars4{
    display: flex;
}
.cars{
    margin-left: 30%;
    
}
.hae{
    display: flex;
    margin-top: 40px;

}
.at{
    padding: 100px;
    display: flex;
    justify-content: space-around;
    
}
.at .search-btn{
    background-color: orangered;
    padding-right: 10em;
    font-size: 1em;
    margin-left: 10em;
}

 .low{
text-align: center;
background-image: url("Images/jipin.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
background-blend-mode: darken;
background-color: rgba(0, 0, 0, 0.2);
height: 100vh;
font-size: 1.5em;
}  

.cap{
    color: red;
    padding: 1em;
}
#low1 p{
    color: white;
}
.hae{
    background-color: red;
    display: flex;
    margin-right: 6.5em;
   
} 
.foot{
    display: flex;
    justify-content: space-around;
    padding-top: 4em;
} 


footer{
    padding: 2em;
    text-align: center;
}
#hae2{
    margin-right: 4px;
    color: white;
    background-color: black;
    padding: 5em;
}


#hae3{
    margin-right: 4px;
    color: white;
    background-color: black;
    padding: 5em;

}
#hae4{
    color: white;
    background-color: black; 
    padding: 5em;
 
} 

.person{
    font-size: 2em;

}
.mid{
    margin-top: 60px;
    text-align: center;
    margin-bottom: 60px;
}
.mid h1{
    margin-bottom: 20px;
}
.mid p{
    margin-top: 30px;
}
.foot{
    background-color: black;
    color: white;
    margin-top: 5em;
}
.mid h1{
    color: red;
}
.mid h1 span{
color: black;
}

.log2 img{
    height:80px;
    float: right;
    padding: 5px

}
.log2{
    float: right;
    display: flex;
}
#foot2 h2{
    color: red;
}
#foot4{
    margin-top: 20px;
}
#car1{
    margin-right: 40px;
}
#car2{
    margin-left: 40px;
}
#car3{
    margin-right: 40px;
}
#car4{
    margin-left: 40px;
}
 #car5{
    margin-right: 40px;
} 
#car6{
    margin-left: 40px;
}
#car7{
    margin-right: 40px;
}
#car8{
    margin-left: 40px;
}


